<div>
    <h1 data-dojo-attach-point="nls">friendly</h1>
    <p><span data-dojo-attach-point="nls">chair</span></p>
    <p><span data-dojo-attach-point="nls">troll</span></p>
    <button data-dojo-attach-point="_button">+1</button>
</div>